@media (max-width:1175px) {
    .conteiner {width: 100%;}
    .section1-box {flex-direction: column;}
}
@media (max-width:768px) {
    .section2-text {width: 100%;}
    .navul {display: none;}
    .conteiner {align-items: center;}
}
@media (max-width:480px) {
    .left-box-head {width: 100%;
    font-size: 40px;}
    .text2 {width: 100%;}
    .conteiner-box {width: 100%;}
    .section2-head {font-size: 20px;}
    .botton {width: 300px;}
    
}
